:root {
  --background: linear-gradient(to bottom, #ffffff, #a8eae9);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  height: 100vh;
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
}