/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #3b517c;
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* לא קבוע, כך שהוא יהיה במיקום רגיל */
    top: 0;
    left: 0;
    margin-bottom: 20px; /* רווח תחתון להפרדה בין ה-navbar לתוכן */
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-button {
    padding: 8px 16px;
    font-size: 1rem;
    background: #f44336;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background: #d32f2f;
  }
  