# Large data files
dataset
data
models/checkpoints
cropped_samples
crop_maestro_pair.py
train_overfit_one.py
debug_outputs

# Miscellanious
venv
__pycache__
output
debug_training.py
#maybe-one-day-run_transcription.py
#also-transcribe_utils.py
utils